body {
  background-color: #455a64;
  font-family: "Open Sans", sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  color: #ffffff;
}

.folder-container {
  height: 5em;
  width: 100%;
  text-align: center;
  display: table;
}

.folder-div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

#drop-area {
  width: 100%;
}

.highlight {
  background-color: #cfd8dc;
  z-index: -1;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.folder-edit {
  color: yellow !important;
}

.folder-open {
  color: white;
}

.folder-label {
  font-size: 15px;
}

#dock {
  height: 4em;
  width: 80%;
  background-color: #ffffffe0;
  position: absolute;
  bottom: 0;
  border-radius: 5px 5px 0 0;
}

.dock-app-container {
  margin: auto;
  position: relative;
}

.dock-app-label {
  display: none;
  color: #ffffff;
  position: absolute;
  bottom: 120%;
  width: min-content;
  text-align: center;
  background-color: #424242;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 4px 1px 4px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#trash {
  color: #68686854;
}

.dock-app-label--hover {
  display: block;
}

@keyframes expand {
  100% {
    transform: scale(1.2);
    color: black;
  }
}

.dock-app-icon--hover {
  animation-name: expand;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
